html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #313030; }

.img-responsive {
  max-width: 100%; }

button a {
  color: #eeeeee;
  text-decoration: none; }

header.navigation {
  padding: 1em; }
  @media screen and (min-width: 53.75em) {
    header.navigation {
      margin-bottom: 1em; } }
  header.navigation .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    padding-right: .5em;
    color: #313030; }
    @media screen and (min-width: 48em) {
      header.navigation .navigation-menu-button {
        padding-top: 0.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
  header.navigation .navigation-wrapper {
    position: relative; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  header.navigation .logo {
    float: left; }
    header.navigation .logo img {
      max-height: 2em;
      padding-right: 1em; }
      @media screen and (min-width: 53.75em) {
        header.navigation .logo img {
          max-height: 3em; } }
      @media screen and (min-width: 48em) {
        header.navigation .logo img {
          max-height: 3em; } }
  header.navigation nav {
    float: none; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: right;
        line-height: 3em;
        padding-top: 0.1em; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    padding-top: 1em; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: block;
        margin: 0;
        padding: 0; } }
    header.navigation ul.navigation-menu.show {
      display: block; }
  header.navigation ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    color: #313030;
    margin-bottom: .5em; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        text-decoration: none; } }
  header.navigation li.nav-link a {
    display: inline-block;
    text-decoration: none;
    font-weight: 100;
    color: #313030; }
    header.navigation li.nav-link a:hover {
      font-weight: 600; }
    header.navigation li.nav-link a.active {
      font-weight: 600;
      border-bottom: 1px solid #313030; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.nav-link a.active {
          border-top: 1px solid #313030; } }
    @media screen and (min-width: 53.75em) {
      header.navigation li.nav-link a {
        margin-right: 2em; } }

.wrapper {
  max-width: 68em;
  margin: auto;
  padding: 1em; }

.hero {
  background: url("../resources/images/shatter.gif"), scroll;
  background: url("../resources/images/shatter.gif"), scroll;
  background-color: #313030;
  background-position: top;
  padding-bottom: 3em; }
  .hero .hero-logo img {
    height: 6em;
    margin-bottom: 1em; }
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    color: #eeeeee;
    margin: auto;
    padding: 3.5em;
    text-align: center; }
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    .hero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    .hero .hero-inner .hero-copy {
      text-align: center; }
      .hero .hero-inner .hero-copy h1 {
        font-size: 2em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: .05em; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy h1 {
            font-size: 1.8em; } }
      .hero .hero-inner .hero-copy p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy p {
            font-size: 1.1em;
            max-width: 40%; } }
    .hero .hero-inner button {
      background-color: #96c342;
      border-radius: 3px;
      border: 0;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      padding: 7px 18px;
      text-decoration: none;
      background-clip: padding-box;
      padding: 0.7em 1em; }
      .hero .hero-inner button:hover:not(:disabled) {
        background-color: #a2ce51;
        cursor: pointer; }
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        background-color: #87ae3d;
        cursor: pointer; }
      .hero .hero-inner button:disabled {
        cursor: not-allowed;
        opacity: 0.5; }
      .hero .hero-inner button a {
        color: #eeeeee;
        text-decoration: none; }

.bullets {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
  margin: 1em;
  overflow: auto;
  padding: 0; }
  .bullets .bullet {
    -webkit-flex-basis: 20em;
    -moz-flex-basis: 20em;
    flex-basis: 20em;
    -ms-flex-preferred-size: 20em;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1; }
  .bullets .bullet-icon {
    background: #30bbe5;
    border-radius: 50%;
    float: left;
    height: 3.5em;
    width: 3.5em; }
  .bullets .bullet-icon-1 {
    background: #30bbe5;
    padding-top: .8em;
    padding-left: 1em; }
  .bullets .bullet-icon-2 {
    background: #96c342;
    padding-left: 1.1em;
    padding-top: .8em; }
  .bullets .bullet-icon-3 {
    background: #f29621;
    padding-top: .9em;
    padding-left: .8em; }
  .bullets .bullet-content {
    margin-left: 5.25em;
    margin-bottom: 2em;
    padding-right: .5em; }
  .bullets h2 {
    display: inline-block;
    font-size: 1.4em;
    margin: 0 0 0.58333em 0;
    padding-top: 0.5em;
    text-transform: uppercase;
    font-weight: 300; }
  .bullets ul {
    font-weight: 100;
    line-height: 1.5em; }
  .bullets li {
    list-style: none; }
  .bullets p {
    color: #313030;
    line-height: 1.5em; }
  .bullets img {
    max-width: 100%; }

.statement {
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  padding: 3em;
  background-color: #96c342;
  color: #eeeeee;
  font-weight: 600; }

#testwrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 3em; }
  #testwrapper::after {
    clear: both;
    content: "";
    display: table; }
  #testwrapper::after {
    clear: both;
    content: "";
    display: table; }
  #testwrapper .testcol {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    #testwrapper .testcol:last-child {
      margin-right: 0; }
    @media screen and (max-width: 48em) {
      #testwrapper .testcol {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        #testwrapper .testcol:last-child {
          margin-right: 0; }
        #testwrapper .testcol:nth-child(even) {
          margin-right: 0; } }
    @media screen and (max-width: 30em) {
      #testwrapper .testcol {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #testwrapper .testcol:last-child {
          margin-right: 0; } }
    #testwrapper .testcol .comment {
      display: table;
      margin-bottom: 1.5em;
      padding-bottom: 1em;
      width: 100%; }
      #testwrapper .testcol .comment .comment-image,
      #testwrapper .testcol .comment .comment-content {
        display: block;
        vertical-align: top; }
      #testwrapper .testcol .comment .comment-image {
        padding-right: 1.4em; }
        #testwrapper .testcol .comment .comment-image > img {
          border-radius: 3px;
          display: block;
          width: auto;
          max-width: none;
          padding: 0.2em;
          height: 6em;
          margin: 1em auto; }
        .comment-reverse-order #testwrapper .testcol .comment .comment-image {
          padding-right: 0;
          padding-left: 10px; }
      #testwrapper .testcol .comment .comment-content {
        width: 100%; }
        #testwrapper .testcol .comment .comment-content p {
          line-height: 1.6em;
          margin-bottom: 0.5em;
          font-weight: 300;
          font-size: 1em; }
        #testwrapper .testcol .comment .comment-content p.comment-detail {
          color: rgba(49, 48, 48, 0.5);
          font-size: 0.8em;
          font-style: italic; }

#abouthero {
  background: url("../resources/images/darkdesk.jpg"), scroll;
  background: url("../resources/images/darkdesk.jpg"), scroll;
  background-color: #313030;
  background-position: top;
  background-size: cover; }
  #abouthero .hero-logo img {
    height: 6em;
    margin-bottom: 1em; }
  #abouthero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    color: #eeeeee;
    margin: auto;
    padding: 2em;
    text-align: center; }
    #abouthero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    #abouthero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 53.75em) {
      #abouthero .hero-inner {
        padding: 5em; } }
    #abouthero .hero-inner .hero-copy {
      text-align: center; }
      #abouthero .hero-inner .hero-copy h1 {
        font-size: 1.2em;
        margin-bottom: 2em;
        font-weight: 300;
        letter-spacing: .05em;
        line-height: 1.2em; }
        @media screen and (min-width: 53.75em) {
          #abouthero .hero-inner .hero-copy h1 {
            font-size: 1.8em;
            line-height: 1.8em; } }
      #abouthero .hero-inner .hero-copy p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto; }
        @media screen and (min-width: 53.75em) {
          #abouthero .hero-inner .hero-copy p {
            font-size: 1.1em;
            max-width: 40%; } }
    #abouthero .hero-inner button {
      background-color: #96c342;
      border-radius: 3px;
      border: 0;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      padding: 7px 18px;
      text-decoration: none;
      background-clip: padding-box;
      padding: 0.7em 1em;
      color: #ffffff; }
      #abouthero .hero-inner button:hover:not(:disabled) {
        background-color: #a2ce51;
        cursor: pointer; }
      #abouthero .hero-inner button:active:not(:disabled), #abouthero .hero-inner button:focus:not(:disabled) {
        background-color: #87ae3d;
        cursor: pointer; }
      #abouthero .hero-inner button:disabled {
        cursor: not-allowed;
        opacity: 0.5; }

.side-image {
  max-width: 68em;
  margin: auto; }
  @media screen and (min-width: 53.75em) {
    .side-image {
      display: table;
      width: 100%;
      table-layout: fixed; } }
  .side-image .images-wrapper {
    display: block;
    vertical-align: middle;
    min-height: 12em;
    padding: 3em; }
    @media screen and (min-width: 53.75em) {
      .side-image .images-wrapper {
        display: table-cell;
        width: 41.66667%; } }
    @media screen and (min-width: 48em) {
      .side-image .images-wrapper {
        display: table-cell;
        width: 33.33333%; } }
  .side-image .side-image-content {
    display: table-cell;
    width: 100%;
    padding: 1em 2em 4em 2em; }
    @media screen and (min-width: 53.75em) {
      .side-image .side-image-content {
        display: table-cell;
        width: 58.33333%;
        padding: 10em 4em 8em 4em; } }
    @media screen and (min-width: 48em) {
      .side-image .side-image-content {
        display: table-cell;
        width: 66.66667%;
        padding: 10em 4em 8em 4em; } }
  .side-image h1 {
    margin-bottom: 0.9em;
    font-size: 1.6em;
    text-transform: uppercase; }
  .side-image p {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 300; }
  .side-image ul {
    color: #313030;
    line-height: 1.5em;
    margin-bottom: 3em; }

#team .teamintro {
  text-align: center;
  background: #313030;
  color: #eeeeee; }
  #team .teamintro h1 {
    font-size: 2em;
    line-height: 2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block; }
  #team .teamintro img {
    display: inline-block;
    max-height: 4em;
    vertical-align: bottom; }
  #team .teamintro .teamwrap {
    padding: 3em; }
#team .teamGrid {
  padding: 3em;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #team .teamGrid::after {
    clear: both;
    content: "";
    display: table; }
  #team .teamGrid .teamMember {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: .5em; }
    #team .teamGrid .teamMember:last-child {
      margin-right: 0; }
    #team .teamGrid .teamMember:nth-child(2n) {
      margin-right: 0; }
    #team .teamGrid .teamMember:nth-child(2n+1) {
      clear: left; }
    @media screen and (min-width: 48em) {
      #team .teamGrid .teamMember {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        #team .teamGrid .teamMember:nth-child(2n) {
          margin-right: 2.35765%; }
        #team .teamGrid .teamMember:nth-child(2n+1) {
          clear: none; }
        #team .teamGrid .teamMember:last-child {
          margin-right: 0; }
        #team .teamGrid .teamMember:nth-child(3n) {
          margin-right: 0; }
        #team .teamGrid .teamMember:nth-child(3n+1) {
          clear: left; } }
    @media screen and (min-width: 53.75em) {
      #team .teamGrid .teamMember {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        #team .teamGrid .teamMember:nth-child(3n) {
          margin-right: 2.35765%; }
        #team .teamGrid .teamMember:nth-child(3n+1) {
          clear: none; }
        #team .teamGrid .teamMember:last-child {
          margin-right: 0; }
        #team .teamGrid .teamMember:nth-child(4n) {
          margin-right: 0; }
        #team .teamGrid .teamMember:nth-child(4n+1) {
          clear: left; } }
    #team .teamGrid .teamMember h3 {
      text-transform: uppercase;
      font-weight: 400;
      padding: 1em 0 .5em 0; }
    #team .teamGrid .teamMember p {
      font-size: .8em;
      font-weight: 100; }

.serviceList {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0; }
  .serviceList::after {
    clear: both;
    content: "";
    display: table; }
  .serviceList::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 53.75em) {
    .serviceList {
      padding: 0 3em; } }
  .serviceList .serviceItem {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 2em; }
    .serviceList .serviceItem:last-child {
      margin-right: 0; }
    @media screen and (min-width: 53.75em) {
      .serviceList .serviceItem {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .serviceList .serviceItem:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 48em) {
      .serviceList .serviceItem {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .serviceList .serviceItem:last-child {
          margin-right: 0; } }
    .serviceList .serviceItem h1 {
      text-transform: uppercase;
      font-size: 1.5em;
      margin-bottom: .5em; }
    .serviceList .serviceItem ul {
      padding-left: 2em;
      line-height: 1.5em; }
    .serviceList .serviceItem img {
      padding: 1em; }
      @media screen and (min-width: 53.75em) {
        .serviceList .serviceItem img {
          padding: 2em; } }

#serviceHero {
  background: url("../resources/images/altdarkdesk2.jpg"), scroll;
  background: url("../resources/images/altdarkdesk2.jpg"), scroll;
  background-color: #313030;
  background-position: top;
  background-size: cover; }
  #serviceHero .hero-logo img {
    height: 6em;
    margin-bottom: 1em; }
  #serviceHero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    color: #eeeeee;
    margin: auto;
    padding: 2em;
    text-align: center; }
    #serviceHero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    #serviceHero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 53.75em) {
      #serviceHero .hero-inner {
        padding: 6em; } }
    #serviceHero .hero-inner .hero-copy {
      text-align: center; }
      #serviceHero .hero-inner .hero-copy h1 {
        font-size: 1.3em;
        margin-bottom: 2em;
        font-weight: 300;
        letter-spacing: .05em;
        line-height: 1.7em; }
        @media screen and (min-width: 53.75em) {
          #serviceHero .hero-inner .hero-copy h1 {
            font-size: 2em;
            line-height: 2em; } }
      #serviceHero .hero-inner .hero-copy p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto; }
        @media screen and (min-width: 53.75em) {
          #serviceHero .hero-inner .hero-copy p {
            font-size: 1.1em;
            max-width: 40%; } }
    #serviceHero .hero-inner button {
      background-color: #f29621;
      border-radius: 3px;
      border: 0;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      padding: 7px 18px;
      text-decoration: none;
      background-clip: padding-box;
      padding: 0.7em 1em;
      color: #ffffff; }
      #serviceHero .hero-inner button:hover:not(:disabled) {
        background-color: #f8a235;
        cursor: pointer; }
      #serviceHero .hero-inner button:active:not(:disabled), #serviceHero .hero-inner button:focus:not(:disabled) {
        background-color: #e78913;
        cursor: pointer; }
      #serviceHero .hero-inner button:disabled {
        cursor: not-allowed;
        opacity: 0.5; }

#work .workIntro {
  text-align: center;
  background: #313030;
  color: #eeeeee; }
  #work .workIntro h1 {
    font-size: 2em;
    line-height: 2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block; }
    @media screen and (min-width: 53.75em) {
      #work .workIntro h1 {
        font-size: 3em;
        line-height: 1em; } }
    #work .workIntro h1::after {
      clear: both;
      content: "";
      display: table; }
  #work .workIntro h3 {
    display: block;
    font-weight: 300;
    margin-top: 1em; }
  #work .workIntro img {
    display: inline-block;
    max-height: 4em;
    vertical-align: bottom; }
  #work .workIntro .workWrap {
    padding: 3em; }
#work .workGrid {
  padding: 3em;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #work .workGrid::after {
    clear: both;
    content: "";
    display: table; }
  #work .workGrid .workItem {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: .5em; }
    #work .workGrid .workItem:last-child {
      margin-right: 0; }
    #work .workGrid .workItem:nth-child(2n) {
      margin-right: 0; }
    #work .workGrid .workItem:nth-child(2n+1) {
      clear: left; }
    @media screen and (min-width: 48em) {
      #work .workGrid .workItem {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        #work .workGrid .workItem:nth-child(2n) {
          margin-right: 2.35765%; }
        #work .workGrid .workItem:nth-child(2n+1) {
          clear: none; }
        #work .workGrid .workItem:last-child {
          margin-right: 0; }
        #work .workGrid .workItem:nth-child(3n) {
          margin-right: 0; }
        #work .workGrid .workItem:nth-child(3n+1) {
          clear: left; } }
    @media screen and (min-width: 53.75em) {
      #work .workGrid .workItem {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        #work .workGrid .workItem:nth-child(3n) {
          margin-right: 2.35765%; }
        #work .workGrid .workItem:nth-child(3n+1) {
          clear: none; }
        #work .workGrid .workItem:last-child {
          margin-right: 0; }
        #work .workGrid .workItem:nth-child(4n) {
          margin-right: 0; }
        #work .workGrid .workItem:nth-child(4n+1) {
          clear: left; } }
    #work .workGrid .workItem h3 {
      text-transform: uppercase;
      font-weight: 400;
      padding: 1em 0 .5em 0; }
    #work .workGrid .workItem p {
      font-size: .8em;
      font-weight: 100; }

#work .workGrid .workItem {
  position: relative;
  margin-bottom: 1.5em; }
  #work .workGrid .workItem .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(49, 48, 48, 0.8);
    padding: 1em;
    opacity: 0;
    box-sizing: border-box;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in; }
    #work .workGrid .workItem .title h3 {
      color: #fff;
      text-align: center;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
#work .workGrid .workItem:hover .title {
  opacity: 1; }

#initHero {
  background: url("../resources/images/darkdesk3.jpg"), scroll;
  background: url("../resources/images/darkdesk3.jpg"), scroll;
  background-color: #313030;
  background-position: center;
  background-size: cover; }
  #initHero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    color: #eeeeee;
    margin: auto;
    padding: 2em;
    text-align: center; }
    #initHero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    #initHero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 53.75em) {
      #initHero .hero-inner {
        padding: 6em; } }
    #initHero .hero-inner .hero-copy {
      text-align: center; }
      #initHero .hero-inner .hero-copy h1 {
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .05em;
        line-height: 1.7em; }
        @media screen and (min-width: 53.75em) {
          #initHero .hero-inner .hero-copy h1 {
            font-size: 2em;
            line-height: 2em; } }
      #initHero .hero-inner .hero-copy h2 {
        font-size: 1em;
        font-weight: 300;
        letter-spacing: .05em;
        line-height: 1.5em; }
        @media screen and (min-width: 53.75em) {
          #initHero .hero-inner .hero-copy h2 {
            font-size: 1.5em;
            line-height: 1.7em; } }
    #initHero .hero-inner button {
      background-color: #f29621;
      border-radius: 3px;
      border: 0;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      padding: 7px 18px;
      text-decoration: none;
      background-clip: padding-box;
      padding: 0.7em 1em;
      color: #ffffff; }
      #initHero .hero-inner button:hover:not(:disabled) {
        background-color: #f8a235;
        cursor: pointer; }
      #initHero .hero-inner button:active:not(:disabled), #initHero .hero-inner button:focus:not(:disabled) {
        background-color: #e78913;
        cursor: pointer; }
      #initHero .hero-inner button:disabled {
        cursor: not-allowed;
        opacity: 0.5; }

.initstatement {
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  padding: 2em;
  color: #313030;
  font-weight: 600;
  text-transform: uppercase; }
  .initstatement.alt {
    text-transform: none;
    background-color: #eeeeee; }
    .initstatement.alt h2 {
      font-size: 1em;
      font-weight: 500; }

.side-image-init {
  max-width: 68em;
  margin: auto; }
  @media screen and (min-width: 53.75em) {
    .side-image-init {
      display: table;
      width: 100%;
      table-layout: fixed; } }
  .side-image-init .init-image-wrap {
    display: block;
    vertical-align: middle;
    min-height: 12em;
    padding: 1em; }
    @media screen and (min-width: 53.75em) {
      .side-image-init .init-image-wrap {
        display: table-cell;
        width: 58.33333%; } }
    @media screen and (min-width: 48em) {
      .side-image-init .init-image-wrap {
        display: table-cell;
        width: 58.33333%; } }
  .side-image-init .init-content {
    display: table-cell;
    width: 100%;
    padding: 1em 2em 4em 2em; }
    @media screen and (min-width: 53.75em) {
      .side-image-init .init-content {
        display: table-cell;
        width: 41.66667%;
        padding: 2em; } }
    @media screen and (min-width: 48em) {
      .side-image-init .init-content {
        display: table-cell;
        width: 41.66667%;
        padding: 4em; } }
  .side-image-init h1 {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    text-transform: uppercase; }
  .side-image-init p {
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 300; }
    .side-image-init p.smaller {
      font-size: .9em;
      font-style: italic; }
      @media screen and (min-width: 53.75em) {
        .side-image-init p.smaller {
          font-size: 0.7em; } }
    @media screen and (min-width: 53.75em) {
      .side-image-init p {
        font-size: 1em;
        line-height: 1.2em; } }

.flex-boxes {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both; }
  .flex-boxes::after {
    clear: both;
    content: "";
    display: table; }
  .flex-boxes .flex-box {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2 2 15em;
    -moz-flex: 2 2 15em;
    -ms-flex: 2 2 15em;
    flex: 2 2 15em;
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    align-self: stretch;
    -ms-flex-item-align: stretch;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #DDD, 0 2px 4px #e6e6e6;
    display: block;
    margin: 0.4em;
    padding: 2em 1em 2em 1em;
    text-decoration: none; }
    .flex-boxes .flex-box:nth-child(1) {
      border-top: 6px solid #96c342; }
      .flex-boxes .flex-box:nth-child(1):focus, .flex-boxes .flex-box:nth-child(1):hover {
        background-color: rgba(150, 195, 66, 0.3); }
    .flex-boxes .flex-box:nth-child(2) {
      border-top: 6px solid #f29621; }
      .flex-boxes .flex-box:nth-child(2):focus, .flex-boxes .flex-box:nth-child(2):hover {
        background-color: rgba(242, 150, 33, 0.3); }
    .flex-boxes .flex-box:nth-child(3) {
      border-top: 6px solid #30bbe5; }
      .flex-boxes .flex-box:nth-child(3):focus, .flex-boxes .flex-box:nth-child(3):hover {
        background-color: rgba(48, 187, 229, 0.3); }
    .flex-boxes .flex-box:nth-child(4) {
      border-top: 6px solid #CB9471; }
      .flex-boxes .flex-box:nth-child(4):focus, .flex-boxes .flex-box:nth-child(4):hover {
        background-color: rgba(203, 148, 113, 0.3); }
    .flex-boxes .flex-box img {
      display: block;
      height: 3em;
      margin: 0 auto 1em auto;
      opacity: 0.4; }
    .flex-boxes .flex-box .flex-title {
      color: #313030;
      font-size: 1.2em;
      font-weight: 800;
      margin-bottom: 0.5em;
      text-align: center !important;
      text-transform: uppercase; }
    .flex-boxes .flex-box p {
      color: rgba(49, 48, 48, 0.6);
      line-height: 1.5em;
      margin: auto;
      text-align: left; }

#faqs {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 1em; }
  #faqs::after {
    clear: both;
    content: "";
    display: table; }
  #faqs h1 {
    font-size: 1.5em;
    margin-bottom: 1em; }
  #faqs .faqitem .question {
    border-bottom: 1px solid #DDD; }
    #faqs .faqitem .question h3 {
      font-size: 1.2em;
      font-weight: 600; }
  #faqs .faqitem .answer {
    color: #313030;
    padding: .5em 0 1em 1em;
    font-size: 1em;
    line-height: 1.2em; }
    #faqs .faqitem .answer ul {
      padding-left: 2em; }

#contactHero {
  background: url("../resources/images/penpaper.jpg"), scroll;
  background: url("../resources/images/penpaper.jpg"), scroll;
  background-color: #313030;
  background-position: center;
  background-size: cover; }
  #contactHero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    color: #eeeeee;
    margin: auto;
    padding: 2em;
    text-align: center; }
    #contactHero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    #contactHero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 53.75em) {
      #contactHero .hero-inner {
        padding: 6em; } }
    #contactHero .hero-inner .hero-copy {
      text-align: center; }
      #contactHero .hero-inner .hero-copy h1 {
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .05em;
        line-height: 1.7em; }
        @media screen and (min-width: 53.75em) {
          #contactHero .hero-inner .hero-copy h1 {
            font-size: 2em;
            line-height: 2em; } }
      #contactHero .hero-inner .hero-copy h2 {
        font-size: 1em;
        font-weight: 300;
        letter-spacing: .05em;
        line-height: 1.5em; }
        @media screen and (min-width: 53.75em) {
          #contactHero .hero-inner .hero-copy h2 {
            font-size: 1.5em;
            line-height: 1.7em; } }
    #contactHero .hero-inner button {
      background-color: #f29621;
      border-radius: 3px;
      border: 0;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      padding: 7px 18px;
      text-decoration: none;
      background-clip: padding-box;
      padding: 0.7em 1em;
      color: #ffffff; }
      #contactHero .hero-inner button:hover:not(:disabled) {
        background-color: #f8a235;
        cursor: pointer; }
      #contactHero .hero-inner button:active:not(:disabled), #contactHero .hero-inner button:focus:not(:disabled) {
        background-color: #e78913;
        cursor: pointer; }
      #contactHero .hero-inner button:disabled {
        cursor: not-allowed;
        opacity: 0.5; }

#formContainer {
  padding: 2em 1em;
  background-color: #eeeeee; }
  #formContainer::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 53.75em) {
    #formContainer {
      padding: 2em 6em; } }
  #formContainer #contactForm {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 2em; }
    #formContainer #contactForm:last-child {
      margin-right: 0; }
    @media screen and (min-width: 53.75em) {
      #formContainer #contactForm {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        #formContainer #contactForm:last-child {
          margin-right: 0; } }
    #formContainer #contactForm .form {
      color: #313030;
      font-size: 1em; }
      #formContainer #contactForm .form h1 {
        font-size: 3em;
        color: #313030;
        margin-bottom: 1em;
        text-transform: uppercase; }
      #formContainer #contactForm .form label {
        color: #313030;
        font-size: 1.5em;
        display: block;
        margin-bottom: .5em; }
      #formContainer #contactForm .form div {
        display: block; }
      #formContainer #contactForm .form input, #formContainer #contactForm .form form textarea, #formContainer #contactForm .form form select {
        border-width: 1px;
        border-style: solid;
        border-color: #666666;
        border-radius: 3px;
        padding: .3em;
        width: 100%;
        font-size: 1.2em; }
      #formContainer #contactForm .form textarea {
        height: 10em;
        width: 100%;
        font-size: 1.2em; }
      #formContainer #contactForm .form .field {
        margin-bottom: 1em; }
        #formContainer #contactForm .form .field button {
          background-color: #30bbe5;
          border-radius: 3px;
          border: 0;
          color: #333333;
          display: inline-block;
          font-size: inherit;
          font-weight: bold;
          padding: 7px 18px;
          text-decoration: none;
          background-clip: padding-box;
          padding: 0.7em 1em;
          display: inline-block;
          margin-top: .5em; }
          #formContainer #contactForm .form .field button:hover:not(:disabled) {
            background-color: #43c5ec;
            cursor: pointer; }
          #formContainer #contactForm .form .field button:active:not(:disabled), #formContainer #contactForm .form .field button:focus:not(:disabled) {
            background-color: #21afda;
            cursor: pointer; }
          #formContainer #contactForm .form .field button:disabled {
            cursor: not-allowed;
            opacity: 0.5; }
          #formContainer #contactForm .form .field button a {
            color: #313030; }

#gotHero {
  background: url("../resources/images/windpower2.jpg"), scroll;
  background: url("../resources/images/windpower2.jpg"), scroll;
  background-color: #313030;
  background-position: center;
  background-size: cover; }
  #gotHero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    color: #eeeeee;
    margin: auto;
    padding: 2em;
    text-align: center; }
    #gotHero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    #gotHero .hero-inner::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 53.75em) {
      #gotHero .hero-inner {
        padding: 6em; } }
    #gotHero .hero-inner .hero-copy {
      text-align: center; }
      #gotHero .hero-inner .hero-copy h1 {
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .05em;
        line-height: 1.7em; }
        @media screen and (min-width: 53.75em) {
          #gotHero .hero-inner .hero-copy h1 {
            font-size: 2em;
            line-height: 2em; } }
      #gotHero .hero-inner .hero-copy h2 {
        font-size: 1em;
        font-weight: 300;
        letter-spacing: .05em;
        line-height: 1.5em; }
        @media screen and (min-width: 53.75em) {
          #gotHero .hero-inner .hero-copy h2 {
            font-size: 1.5em;
            line-height: 1.7em; } }
    #gotHero .hero-inner button {
      background-color: #f29621;
      border-radius: 3px;
      border: 0;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      padding: 7px 18px;
      text-decoration: none;
      background-clip: padding-box;
      padding: 0.7em 1em;
      color: #ffffff; }
      #gotHero .hero-inner button:hover:not(:disabled) {
        background-color: #f8a235;
        cursor: pointer; }
      #gotHero .hero-inner button:active:not(:disabled), #gotHero .hero-inner button:focus:not(:disabled) {
        background-color: #e78913;
        cursor: pointer; }
      #gotHero .hero-inner button:disabled {
        cursor: not-allowed;
        opacity: 0.5; }

#formContainer {
  padding: 2em 1em;
  background-color: #eeeeee; }
  #formContainer::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 53.75em) {
    #formContainer {
      padding: 2em 6em; } }
  #formContainer #projectForm {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 2em; }
    #formContainer #projectForm:last-child {
      margin-right: 0; }
    @media screen and (min-width: 53.75em) {
      #formContainer #projectForm {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        #formContainer #projectForm:last-child {
          margin-right: 0; } }
    #formContainer #projectForm .form {
      color: #313030;
      font-size: 1em; }
      #formContainer #projectForm .form h1 {
        font-size: 3em;
        color: #313030;
        margin-bottom: 1em;
        text-transform: uppercase; }
      #formContainer #projectForm .form label {
        color: #313030;
        font-size: 1.5em;
        display: block;
        margin-bottom: .5em; }
      #formContainer #projectForm .form div {
        display: block; }
      #formContainer #projectForm .form input, #formContainer #projectForm .form form textarea, #formContainer #projectForm .form form select {
        border-width: 1px;
        border-style: solid;
        border-color: #666666;
        border-radius: 3px;
        padding: .3em;
        width: 100%;
        font-size: 1.2em; }
      #formContainer #projectForm .form textarea {
        height: 10em;
        width: 100%;
        font-size: 1.2em; }
      #formContainer #projectForm .form input[type="checkbox"] {
        display: inline-block;
        width: inherit; }
      #formContainer #projectForm .form .field {
        margin-bottom: 1em; }
        #formContainer #projectForm .form .field button {
          background-color: #30bbe5;
          border-radius: 3px;
          border: 0;
          color: #333333;
          display: inline-block;
          font-size: inherit;
          font-weight: bold;
          padding: 7px 18px;
          text-decoration: none;
          background-clip: padding-box;
          padding: 0.7em 1em;
          display: inline-block;
          margin-top: .5em; }
          #formContainer #projectForm .form .field button:hover:not(:disabled) {
            background-color: #43c5ec;
            cursor: pointer; }
          #formContainer #projectForm .form .field button:active:not(:disabled), #formContainer #projectForm .form .field button:focus:not(:disabled) {
            background-color: #21afda;
            cursor: pointer; }
          #formContainer #projectForm .form .field button:disabled {
            cursor: not-allowed;
            opacity: 0.5; }
          #formContainer #projectForm .form .field button a {
            color: #313030; }

.lowerContent {
  margin-top: 2em;
  background-color: #30bbe5;
  text-align: center;
  padding: 4em 1em 1em 1em; }
  .lowerContent::after {
    clear: both;
    content: "";
    display: table; }
  .lowerContent.noTop {
    margin-top: 0; }
  .lowerContent .gotProj {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    border-right: none;
    margin-bottom: 4em; }
    .lowerContent .gotProj:last-child {
      margin-right: 0; }
    @media screen and (min-width: 53.75em) {
      .lowerContent .gotProj {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        border-right: 2px solid #313030;
        margin-bottom: none; }
        .lowerContent .gotProj:last-child {
          margin-right: 0; } }
    .lowerContent .gotProj .projIcon {
      display: inline-block; }
      .lowerContent .gotProj .projIcon img {
        max-height: 6em; }
    .lowerContent .gotProj .projContent {
      display: inline-block; }
      .lowerContent .gotProj .projContent h2 {
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 300;
        padding: 1em;
        display: block; }
    .lowerContent .gotProj button {
      background-color: #f29621;
      border-radius: 3px;
      border: 0;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      padding: 7px 18px;
      text-decoration: none;
      background-clip: padding-box;
      padding: 0.7em 1em;
      display: inline-block; }
      .lowerContent .gotProj button:hover:not(:disabled) {
        background-color: #f8a235;
        cursor: pointer; }
      .lowerContent .gotProj button:active:not(:disabled), .lowerContent .gotProj button:focus:not(:disabled) {
        background-color: #e78913;
        cursor: pointer; }
      .lowerContent .gotProj button:disabled {
        cursor: not-allowed;
        opacity: 0.5; }
      .lowerContent .gotProj button a {
        color: #313030; }
  .lowerContent .signUp {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: left;
    padding: 0 2em; }
    .lowerContent .signUp:last-child {
      margin-right: 0; }
    @media screen and (min-width: 53.75em) {
      .lowerContent .signUp {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .lowerContent .signUp:last-child {
          margin-right: 0; } }
    .lowerContent .signUp form input {
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1.2em;
      padding: .5em;
      display: inline-block; }
      .lowerContent .signUp form input#newsEmail {
        width: 90%;
        margin-top: 1em; }
        @media screen and (min-width: 53.75em) {
          .lowerContent .signUp form input#newsEmail {
            width: 70%;
            margin-top: 0; } }
    .lowerContent .signUp form button {
      background-color: #96c342;
      border-radius: 3px;
      border: 0;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      padding: 7px 18px;
      text-decoration: none;
      background-clip: padding-box;
      padding: 0.7em 1em;
      color: #313030;
      display: inline-block;
      margin: 1em 0; }
      .lowerContent .signUp form button:hover:not(:disabled) {
        background-color: #a2ce51;
        cursor: pointer; }
      .lowerContent .signUp form button:active:not(:disabled), .lowerContent .signUp form button:focus:not(:disabled) {
        background-color: #87ae3d;
        cursor: pointer; }
      .lowerContent .signUp form button:disabled {
        cursor: not-allowed;
        opacity: 0.5; }

.footer {
  background: #313030;
  padding: 3em 1.618em;
  width: 100%;
  color: #eeeeee; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 4em; }
  .footer a {
    color: #f29621;
    text-decoration: none; }
  .footer .footer-links {
    margin-bottom: 1.5em; }
    .footer .footer-links::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 48em) {
      .footer .footer-links {
        margin-left: 25.58941%; } }
  .footer section {
    margin-bottom: 3em;
    padding: 0; }
    @media screen and (min-width: 48em) {
      .footer section {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        .footer section:last-child {
          margin-right: 0; }
        .footer section:nth-child(3n) {
          margin-right: 0; }
        .footer section:nth-child(3n+1) {
          clear: left; }
        .footer section::after {
          clear: both;
          content: "";
          display: table; } }
    .footer section p {
      text-align: center;
      font-weight: 100; }
      @media screen and (min-width: 53.75em) {
        .footer section p {
          text-align: left; } }
    .footer section h2 {
      color: #30bbe5;
      text-transform: uppercase;
      font-weight: 400; }
  .footer li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
    @media screen and (min-width: 48em) {
      .footer li {
        text-align: left; } }
  .footer li a {
    color: #eeeeee;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100; }
    .footer li a .fa {
      margin-right: .25em;
      display: inline;
      color: #eeeeee; }
      .footer li a .fa:hover {
        color: #96c342; }
    .footer li a:focus, .footer li a:hover {
      font-weight: 300;
      color: #f29621; }
  .footer li h3 {
    color: #eeeeee;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0.4em; }
  .footer hr {
    border: 1px solid rgba(238, 238, 238, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    color: #eeeeee;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
