@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";
// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
//variables
$small-screen: em(480) !default;
$medium-screen: em(768) !default;
$large-screen: em(860) !default;
$dark-gray: #313030;
$gwp-green: #96c342;
$gwp-blue: #30bbe5;
$gwp-orange: #f29621;
$gwp-brown: #CB9471;
$yellow: #FCD778;
$off-white: #eeeeee;

body {
  font-family: 'Open Sans', sans-serif;
  color: $dark-gray;
}

.img-responsive {
  max-width: 100%;
}

button{
  a{
    color: $off-white;
    text-decoration: none;
  }
}

header.navigation {
  $large-screen: $large-screen;
  padding: 1em;

  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    padding-right: .5em;
    color: $dark-gray;
    @include media($medium-screen){
      padding-top: 0.5em;
    }
    @include media($large-screen) {
      display: none;
    }
  }

  // Nav menu
  .navigation-wrapper {
    @include clearfix;
    position: relative;
  }

  .logo {
    float: left;

    img {
      max-height: 2em;
      padding-right: 1em;
      @include media($large-screen){
        max-height: 3em;
      }
      @include media($medium-screen){
        max-height: 3em;
      }
    }
  }

  nav {
    float: none;

    @include media($large-screen) {
      float: right;
      line-height: 3em;
      padding-top: 0.1em;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    @include media($large-screen) {
      display: block;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    color: $dark-gray;
    margin-bottom: .5em;
    @include media($large-screen) {
      background: transparent;
      display: inline;
      text-decoration: none;
    }

  }

  li.nav-link a {
    display: inline-block;
    text-decoration: none;
    font-weight: 100;
    color: #313030;

    &:hover {
      font-weight: 600;
    }
    &.active{
      font-weight: 600;
      border-bottom: 1px solid $dark-gray;
      @include media($large-screen){
        border-top: 1px solid $dark-gray;
      }
    }


    @include media($large-screen) {
      margin-right: 2em;
    }
  }
}

.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $hero-color: $off-white;
  $gradient-angle: 10deg;
  $hero-image: '../resources/images/shatter.gif';
  @include background(url($hero-image), scroll);
  background-color: $dark-gray;
  background-position: top;
  padding-bottom: 3em;

  .hero-logo img {
    height: 6em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 2em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: .05em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }

    button {
      @include button(flat, $action-color);
      padding: 0.7em 1em;
      a{
        color: $off-white;
        text-decoration: none;
      }
    }
  }
}


.wrapper {
  max-width: 68em;
  margin: auto;
  padding: 1em;
}

.bullets {
  $base-line-height: 1.5em !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;

  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 1em;
  overflow: auto;
  padding: 0;

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
  }

  .bullet-icon {
    background: $gwp-blue;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $gwp-blue;
    padding-top: .8em;
    padding-left: 1em;
  }

  .bullet-icon-2 {
    background: $gwp-green;
    padding-left: 1.1em;
    padding-top: .8em;
  }

  .bullet-icon-3 {
    background: $gwp-orange;
    padding-top: .9em;
    padding-left: .8em;
  }

  .bullet-content {
    margin-left: $icon-bullet-size * 1.5;
    margin-bottom: 2em;
  }

  h2 {
    display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
    text-transform: uppercase;
    font-weight: 300;
  }

  ul {
    font-weight: 100;
    line-height: 1.5em;
  }
  li {
    list-style: none;

  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}

.statement {
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  padding: 3em;
  background-color: $gwp-green;
  color: $off-white;
  font-weight: 600;
}

//home page testimonials styles
#testwrapper {
  @include outer-container;
  @include clearfix;
  padding: 3em;
  .testcol {
    @include span-columns(3);
    @include media(max-width $medium-screen, 12) {
      @include span-columns(6);
      &:nth-child(even){ margin-right:0; }
    }
    @include media(max-width $small-screen, 12) {
      @include span-columns(12);
    }

    .comment {
      $base-border-radius: 3px !default;
      $base-spacing: 1.5em !default;
      $base-font-color: $dark-gray !default;
      $comment-gutter: 1.4em;
      $comment-image-padding: 0.2em;
      $comment-image-height: 6em;
      $comment-color: $base-font-color;
      $comment-detail-color: transparentize($comment-color, 0.5);
      $comment-image-vert-alignment: top;

      display: table;
      margin-bottom: $base-spacing;
      padding-bottom: 1em;
      width: 100%;
      .comment-image,
      .comment-content {
        display: block;
        vertical-align: $comment-image-vert-alignment;
      }

      .comment-image {
        padding-right: $comment-gutter;

        > img {
          border-radius: $base-border-radius;
          display: block;
          width: auto;
          max-width: none;
          padding: $comment-image-padding;
          height: $comment-image-height;
          margin: 1em auto;
        }

        .comment-reverse-order & {
          padding-right: 0;
          padding-left: 10px;
        }
      }

      .comment-content {
        width: 100%;

        p {
          line-height: 1.6em;
          margin-bottom: 0.5em;
          font-weight: 300;
          font-size: 1em;
        }

        p.comment-detail {
          color: $comment-detail-color;
          font-size: 0.8em;
          font-style: italic;
        }
      }
    }

  }
}

//about page styles
#abouthero {
  $base-border-radius: 3px !default;
  $hero-color: $off-white;
  $gradient-angle: 10deg;
  $hero-image: '../resources/images/darkdesk.jpg';
  @include background(url($hero-image), scroll);
  background-color: $dark-gray;
  background-position: top;
  background-size: cover;
//  padding-bottom: 3em;

  .hero-logo img {
    height: 6em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 2em;
    text-align: center;
    @include media($large-screen){
      padding: 5em;
    }
    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.2em;
        margin-bottom: 2em;
        font-weight: 300;
        letter-spacing: .05em;
        line-height: 1.2em;

        @include media($large-screen) {
          font-size: 1.8em;
          line-height: 1.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }

    button {
      @include button(flat, $gwp-green);
      padding: 0.7em 1em;
      color: #ffffff;
    }
  }
}
//about sustainability section
.side-image {
  $base-line-height: 1.5em !default;
  $base-link-color: $gwp-orange !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;

  max-width: 68em;
  margin: auto;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    display: block;
    vertical-align: middle;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(5);
    }
    @include media($medium-screen){
      @include span-columns(4);
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 4em;

    @include media($large-screen) {
      @include span-columns(7);
      padding: 10em 4em 8em 4em;
    }
    @include media($medium-screen){
      @include span-columns(8);
      padding: 10em 4em 8em 4em;
    }
    }

    h1 {
      margin-bottom: 0.9em;
      font-size: 1.6em;
      text-transform: uppercase;
    }

    p{
      font-size: 1.2em;
      line-height: 1.5em;
      font-weight: 300;
    }
    ul{
      color: $base-font-color;
      line-height: $base-line-height;
      margin-bottom: 3em;
    }

  @include reset-display();
}

//styles for team section on about page
#team{
  .teamintro{
    text-align: center;
    background: $dark-gray;
    color: $off-white;
    h1{
      font-size: 2em;
      line-height: 2em;
      text-transform: uppercase;
      font-weight: 500;
      display: inline-block;
//      @include media($large-screen){
//        font-size: 4em;
//        line-height: 4em;
//      }
    }
    img{
      display:inline-block;
      max-height: 4em;
      vertical-align: bottom;
    }
    .teamwrap{
      padding: 3em;
    }
  }
  .teamGrid{
    padding: 3em;
    @include outer-container;
    .teamMember{
      @include span-columns(6);
      @include omega(2n);
      padding: .5em;
      @include media($medium-screen){
        @include omega-reset(2n);
        @include span-columns(4);
        @include omega(3n);
      }
      @include media($large-screen){
        @include omega-reset(3n);
        @include span-columns(3);
        @include omega(4n);
      }
      h3{
        text-transform: uppercase;
        font-weight: 400;
        padding: 1em 0 .5em 0;
      }
      p{
        font-size: .8em;
        font-weight: 100;
      }
    }
  }
}

//services page
.serviceList{
  @include outer-container;
  @include clearfix;
  padding: 0 3em;
  .serviceItem{
    @include span-columns(12);
    @include media($large-screen){
      @include span-columns(4);
    }
    padding: 2em;
    h1{
      text-transform: uppercase;
      font-size: 1.5em;
      margin-bottom: .5em;
    }
    ul{
      padding-left: 2em;
      line-height: 1.5em;
    }
    img{
      padding: 1em;
      @include media($large-screen){
        padding: 2em;
      }
    }
  }
}
#serviceHero{
  $base-border-radius: 3px !default;
  $hero-color: $off-white;
  $gradient-angle: 10deg;
  $hero-image: '../resources/images/altdarkdesk2.jpg';
  @include background(url($hero-image), scroll);
  background-color: $dark-gray;
  background-position: top;
  background-size: cover;

  .hero-logo img {
    height: 6em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 2em;
    text-align: center;
    @include media($large-screen){
      padding: 6em;
    }
    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.5em;
        font-weight: 300;
        letter-spacing: .05em;
        line-height: 2em;

        @include media($large-screen) {
          font-size: 2em;
          line-height: 2em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

//intiatives page styling
#initHero{
  $base-border-radius: 3px !default;
  $hero-color: $off-white;
  $gradient-angle: 10deg;
  $hero-image: '../resources/images/darkdesk3.jpg';
  @include background(url($hero-image), scroll);
  background-color: $dark-gray;
  background-position: center;
  background-size: cover;
  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 2em;
    text-align: center;
    @include media($large-screen){
      padding: 6em;
    }
    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .05em;
        line-height: 1.7em;
        @include media($large-screen) {
          font-size: 2em;
          line-height: 2em;
        }
      }
      h2{
        font-size: 1em;
        font-weight: 300;
        letter-spacing: .05em;
        line-height: 1.5em;
        @include media($large-screen) {
          font-size: 1.5em;
          line-height: 1.7em;
        }
      }
    }
    button {
      @include button(flat, $gwp-orange);
      padding: 0.7em 1em;
      color: #ffffff;
    }
  }
}
.initstatement {
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  padding: 2em;
  color: $dark-gray;
  font-weight: 600;
  text-transform: uppercase;
}
.side-image-init {
  $base-line-height: 1.5em !default;
  $base-link-color: $gwp-orange !default;
  $base-font-color: $dark-gray !default;

  max-width: 68em;
  margin: auto;

  @include media($large-screen) {
    @include row(table);
  }

  .init-image-wrap {
    display: block;
    vertical-align: middle;
    min-height: 12em;
    padding: 1em;

    @include media($large-screen) {
      @include span-columns(7);
    }
    @include media($medium-screen){
      @include span-columns(7);
    }
  }

  .init-content {
    @include span-columns(12);
    padding: 1em 2em 4em 2em;

    @include media($large-screen) {
      @include span-columns(5);
      padding: 2em;
    }
    @include media($medium-screen){
      @include span-columns(5);
      padding: 4em;
    }
  }

  h1 {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  p{
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 300;
    &.smaller{
      font-size: .7em;
      font-style: italic;
    }
  }

  @include reset-display();
}
.cstGrid{
  @include outer-container;
  .cstItem{

  }
}

//footer and lower content styles below
.lowerContent{
  @include clearfix;
  background-color: $gwp-blue;
  text-align: center;
  padding: 4em 1em 1em 1em;
  .gotProj{
    @include span-columns(12);
    border-right: none;
    margin-bottom: 4em;
    @include media($large-screen){
      @include span-columns(6);
      border-right: 2px solid $dark-gray;
      margin-bottom: none;
    }
    .projIcon{
      display: inline-block;
      img{
        max-height: 6em;
      }
    }
    .projContent{
      display: inline-block;
      h2{
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 300;
        padding: 1em;
        display: block;
      }
    }
    button {
      @include button(flat, $gwp-orange);
      padding: 0.7em 1em;
      color: $dark-gray;
      display: inline-block;
    }
  }

  .signUp{
    @include span-columns(12);
    text-align: left;
    padding: 0 2em;
    @include media($large-screen){
      @include span-columns(6);
    }
    form{
      input{
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1.2em;
        padding: .5em;
        display: inline-block;
        &#newsEmail{
          width: 90%;
          margin-top: 1em;
          @include media($large-screen){
            width: 70%;
            margin-top: 0;
          }
        }
      }
      button {
        @include button(flat, $gwp-green);
        padding: 0.7em 1em;
        color: $dark-gray;
        display: inline-block;
        margin: 1em 0;
      }
    }
  }
}

.footer {
  $base-spacing: 1.5em !default;
  $footer-background: $dark-gray !default;
  $footer-color: $off-white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;
  color: $footer-color;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 4em;
    }
  }
  a {
    color: $gwp-orange;
    text-decoration: none;
  }
  .footer-links {
    @include clearfix;
    margin-bottom: $base-spacing;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  section {
    margin-bottom: $base-spacing * 2;
    padding: 0;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
    p {
      text-align: left;
      font-weight: 100;

    }
    h2{
      color: $gwp-blue;
      text-transform: uppercase;
      font-weight: 400;
    }

  }

  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-color;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    .fa {
      margin-right: .25em;
      display: inline;
      color: $off-white;
      &:hover {
        color: $gwp-green;
      }
    }

    &:focus,
    &:hover {
      font-weight: 300;
      color: $gwp-orange;
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0.4em;
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}